{{showtimes.theatre.name}}

{{#if wantBuy}}

<button class="btn btn-sm btn-success" {{action 'hideBuy'}}>{{showtimes.dateTime}}</button>
<br>Adult{{ticket.adult}} $12.00 x {{input type="number" value=adultTicket}} = ${{adultTicketPrice}}.00
<br>Child{{ticket.child}} $8.00 x {{input type="number" value=childTicket}} = ${{childTicketPrice}}.00
<br>Senior{{ticket.senior}} $6.50 x {{input type="number" value=seniorTicket}} = ${{seniorTicketPrice}}.00
<br>Total: ${{totalPrice}}.00
<button class="btn btn-sm btn-success" {{action 'purchaseTicket' ticket}}>Buy Ticket</button>
{{else}}
<button class="btn btn-sm btn-success" {{action 'showBuy'}}>{{time}}</button>

{{#each ticketService.tickets as |ticket|}}
  <p>{{ticket.name}}</p>
{{/each}}
{{/if}}
