{{showtimes.theatre.name}}

{{#if wantBuy}}

  <button class="btn btn-sm btn-success" {{action 'hideBuy'}}>{{showtimes.dateTime}}</button>
  <br>Adult $12.00 x {{input type="number" value=adultTicket}} = ${{adultTicketPrice}}.00
  <br>Child $8.00 x {{input type="number" value=childTicket}} = ${{childTicketPrice}}.00
  <br>Senior $6.50 x {{input type="number" value=seniorTicket}} = ${{seniorTicketPrice}}.00
  <br>Total: ${{totalPrice}}.00
  <br>
   
{{else}}
  <button class="btn btn-sm btn-success" {{action 'showBuy'}}>{{time}}</button>
{{/if}}
