<br><br><br>
      <div class="form-group">
        <label for="title">Title</label>
        {{input id="title" value=model.Title}}
      </div>

      <div class="form-group">
        <label for="poster">Poster image</label>
        {{input id="poster" value=model.Poster}}
      </div>

      <div class="form-group">
        <label for="year">Realease Date</label>
        {{input id="year" value=model.Year}}
      </div>

      <div class="form-group">
        <label for="rated">Rated</label>
        {{input id="rated" value=model.Rated}}
      </div>

      <div class="form-group">
        <label for="video">add a youtube url</label>
        {{input id="video" value=model.Video}}
      </div>

<button {{action "saveMovieToDB"}}>Add To DataBase</button>
