poster-tile
<div class="row">
  <div class="col-xl-2">
    {{#each model as |movie|}}
      <a href="{{movie.name}}"><img class="poster" src="{{movie.Poster}}" alt="{{movie.name}}" /></a>
    {{/each}}
  </div>
</div>

<hr>

 <form>
   <div class="form-group">
     <label for="newMovie">Movie Title</label>
     {{input value=newMovie id="newMovie"}}
   </div>

   <button class="btn btn-primary" {{action "addNewMovie"}}>Add This Movie</button>
 </form>
