<div class="row">

  <div class="col-md-6">
  {{model.Title}}<br>
  <img src="{{model.Poster}}" alt="" />
  <br>
  {{model.Year}}
  <br>rated: {{model.Rated}}
  </div>

  <div class="col-md-5">
    {{commit-a-movie model=model saveMovieToDB="saveMovieToDB"}}
  </div>

</div>
