<div class="row">
  <div class="col-md-3">
    <img class="poster" src="{{model.Poster}}" alt="{{model.name}}" />
  </div>

  <div class="col-md-3">
    <h1>{{model.Title}}</h1>
    <br><h3>rated: {{model.Rated}}</h3>
    <br><h3>released: {{model.Year}}</h3>
    <br>
    {{find-zip-form  findTheater="findTheater"}}
  </div>

    <div class="col-md-6">
      <iframe width="560" height="400" src=" {{model.Video}}" frameborder="0" allowfullscreen></iframe>
    </div>

</div>
