
<h3>Here are the Theater in {{model.theater.zip}} and the showtime</h3>

{{display-cart}}

{{#each model as |theater|}}

<h2>{{theater.title}}</h2>
  <ul>
    {{#each theater.showtimes as |showtimes|}}
      {{showtimes.theatre.name}}
      {{buy-ticket showtimes=showtimes}}
    {{/each}}
  </ul>
{{/each}}
