<h3>Here are the Thearter in {{theater.zip}} and the showtime</h3>

  {{#each model as |theater|}}

   {{theater.title}}
   <div class="tile"><img src="http://developer.tmsimg.com/'+{{theater.preferredImage.uri}}" alt="{{theater.showtimes.theatre.name}}" >
     </div>
   <ul>
      {{#each theater.showtimes as |showtimes|}}
        <li>
          {{showtimes.theatre.name}}
          {{buy-ticket showtimes=showtimes}}
        </li>
    {{/each}}
  </ul>
  {{/each}}

<!-- <div class="tile"><img src="http://developer.tmsimg.com/' + movie.preferredImage.uri + '?api_key='+apikey+'"><br/>'; -->
