<h3>Here are the Thearter in {{theater.zip}} and the showtime</h3>

  {{#each model as |theater|}}

   {{theater.title}}
   <img src="{{theater.preferredImage.uri}}" alt="" />
   <ul>
      {{#each theater.showtimes as |showtimes|}}
        <li>
          {{showtimes.theatre.name}}
          {{buy-ticket showtimes=showtimes}}
        </li>
    {{/each}}
  </ul>
  {{/each}}
